/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;

  font-family: serif;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 1px;
  word-spacing: 4px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

h1{
  text-align: center;
  letter-spacing: 1px;
}

h1, h2{
  font-family: sans-serif;
}
section p::first-line{
text-indent: 20px;
}
ul{
  list-style: square;
}
/* ECRIVEZ VOTRE CODE CI-DESSOUS */
